
.buttons {
  display: flex;
  gap: 10px;
  margin: auto;
  padding: 20px;
  padding-top: 0px;
  justify-content: center;
}

.buttons button{
  background-color: #7e8890;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.regOrLog{
  text-transform: uppercase;
  letter-spacing: 1px;
}

.regOrLog:hover{
  color: #7e8890;
  cursor: pointer;
}