.node-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.node-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.node-content p {
  margin: 0px;
  margin-left: 15px;
  margin-right: 15px;
  align-self: center;
}

.node-buttons {
  display: flex;
  justify-content: flex-end;
}

.node button {
  margin: 5px;
}

.node {
  background-color: #f4f4f4;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid var(--secondary-color);
  transition: all 0.3s ease;
}

.node h2 {
  margin-top: 0;
  margin-bottom: 5px;
  cursor: pointer;
}

.node button {
  margin-top: 10px;
}

.node-add-child {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
