.note-body{
    margin-left:10px;
}

.note-container {
    background-color: #f4f4f4;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    box-shadow: inset 1px 1px 1px #999;
    box-sizing: border-box;
  }

.note-container:hover{
    background-color: #dedede;
    transition: all 0.3s ease;
    box-shadow: none; 
}

.note-container.active{
    background-color: #dedede;
    transition: all 0.3s ease;
    box-shadow: none; 
}