
.noteContainer {
    background-color: #f4f4f4;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    box-shadow: inset 1px 1px 1px #999;
    box-sizing: border-box;
    flex-grow:1;
    margin:2px;
  }

.noteContainer:hover{
    background-color: #dedede;
    transition: all 0.3s ease;
    box-shadow: none; 
}

.noteContainer.active{
    background-color: #dedede;
    transition: all 0.3s ease;
    box-shadow: none; 
}

.noteButtonContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.childrenCount{
    color: var(--background-color);
    font-size: calc(10px + 1vmin);
    margin: 4px;
    padding: 4px;
    border-radius: 5px;
    border: none;

}
.noteButton{
    position: relative;
    background-color: var(--button-color);
    color: var(--button-color);
    font-size: calc(10px + 1vmin);
    margin: 4px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
}


.buttonGroup{
    margin-left:10px;
}
.buttonGroup button p{
    margin: 0;
    padding: 0;
}

.noteButton:hover {
    transform: scale(2);
    z-index: 2;
    color:white;
}

.noteButton:hover p{
    display:block;
}

.noteButton.new:hover{
    background-color: green !important;
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
