.form{
    min-width: 500px;
    padding: 10px;
    margin-top:40px;
    border: 1px solid #ccc; 
    border-radius: 5px;  
    background-color: #7e8890;
    color: white;
    font-weight: 500;
}


.form button {
    background-color: #c1c1c1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.form button:hover {
    background-color: #9eabb4;
}

.buttonOrder{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}