:root {
  --primary-color: #505050; 
  --secondary-color: #f0f0f0;
  --button-color: #8f9190; 
  --accent-color: #ffc107; 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.App {
  text-align: center;
}

body{
  background-color: var(--secondary-color);
}

.page-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--secondary-color);
  height: 100vh;
}

.main-body {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  padding: 0;
  width:95%;
}

button {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--button-color);
  color: #fff;
  text-decoration: none;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button:hover {
  background-color: var(--primary-color);
}

input[type='text'],
input[type='password'],
textarea {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 5px;
}

form {
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 20px;
}

form {
  padding: 20px;
}

.capitalize {
  text-transform: capitalize;
}

.edit-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
}
.edit-time p {
  margin: 0px;
  color: gray;
  font-size: 10px;
}

.child-count {
  display: flex;
  align-self: end;
  color: grey;
  font-size: 13px;
}

.child-count p {
  margin: 0px;
}

